.emailList {
  flex: 1;
  overflow: scroll;
}

.emailList_settings {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
  align-items: center;
}

.emailList_sections {
     position:sticky;
     top:0;
     display: flex;
     border-bottom: 1px solid whitesmoke;
     background-color: white;
     z-index: 999;
}
