.mail {
  flex: 1;
  background-color: whitesmoke;
}

.mail_tools {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.mail_toolsLeft {
  display: flex;
  align-items: center;
  border-left: 1px solid whitesmoke;
}

.mail_toolsRight {
  display: flex;
  align-items: center;
}

.mail_body {
  display: flex;
  margin: 30px;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  height: 100vh;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.mail_bodyHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  position: relative;
  padding: 20px;
}

.mail_bodyHeader > h2 {
  font-weight: 400;
  margin-right: 20px;
}

.mail_bodyHeader > p {
     margin-left: 20px;
}

.mail_ImportantIcon {
  color: #e8ab02 !important;
}

.mail_message > p {
     padding: 10px;
     margin-right: 20px;
     overflow-wrap: break-word;
}

.mail_time {
     position: absolute;
     top: 24;
     right: 0;
     font-size: 12px;
     color: gray;
}
