.sidebar {
  flex: 0.3;
  max-width: 300px;
  padding-right: 20px;
}

.sidebar_compose {
  margin: 15px 0px !important;
  margin-left: 10px !important;
  text-transform: capitalize !important;
  color: gray !important;
  padding: 15px !important;
  border-radius: 30px !important;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebar_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
